{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>퍼스널컬러 진단 결과</title>
    <link rel="stylesheet" href="{% static 'personalColors/css/colorResult.css' %}">
</head>
<body>
{% csrf_token %}
    <!-- 헤더 공통 -->
    {% include 'personalColors/includes/header.html' %}

    <section id="resultSection">
        <div class="left">
            <img src="main1.png" alt="퍼스널컬러" class="result-img">
        </div>
        <div class="right">
            <h1>당신의 퍼스널컬러는...</h1>
            {% if tone != '응답 수가 부족하여 정확한 진단이 어렵습니다.' %}
                <div id="personalColorResult">{{ tone }}</div>
                <p id="description">{{ mood }}</p>
                <div class="palette-row">
                    <p>컬러팔레트:</p>
                    <div id="palette"></div>
                </div>
                <p id="goodColor">{{ goodColor }}</p>
                <p id="badColor">{{ badColor }}</p>

                <div class="buttons">
                    <button id="retryBtn" onclick="location.href='/personalColors/check/'">다시하기</button>
                    <button id="nextBtn">NEXT</button>
                </div>
            {% endif %}
            {% if tone == '응답 수가 부족하여 정확한 진단이 어렵습니다.' %}
                <h1 id="failedResult">{{ tone }}</h1>
                <div class="buttons">
                    <button id="retryBtn" onclick="location.href='/personalColors/check/'">다시하기</button>
                </div>
            {% endif %}
        </div>
    </section>

    <!-- 팝업 -->
    <div id="savePopup" class="popup">
        <div class="popup-content">
            <p>이 결과를 저장할까요?</p>
            <button id="yesBtn">예</button>
            <button id="noBtn">아니오</button>
        </div>
    </div>
<!-- ===== FOOTER ===== -->
<footer class="footer">
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>
    <a href="#">Contact</a>
</footer>

<script src="{% static 'personalColors/js/colorResult.js' %}"></script>
</body>
</html>
