{% extends "index.html" %}
{% load static %}

{% block title %} 퍼스널컬러 - PaletteMe {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'personalColors/css/colorResult.css' %}">

{% csrf_token %}

    <section id="resultSection">
        <div class="left">
            <img src="{% static 'img/colorResultIMG.png' %}" alt="퍼스널컬러" class="result-img">
        </div>
        <div class="right">
            <h1>당신의 퍼스널컬러는...</h1>
            {% if tone != '응답 수가 부족하여 정확한 진단이 어렵습니다.' %}
                <input type="hidden" id="color_codes" value="{{ color_codes }}">
                <div id="personalColorResult" class="result-name">{{ tone }}</div>
                <div class="description-row">
                    <p>분위기 : </p>
                    <div id="description"> {{ mood }}</div>
                </div>
                <div class="palette-row">
                    <p>컬러팔레트 : </p>
                    <div id="palette"></div>
                </div>
                <p id="goodColor">{{ good_color }}</p>
                <p id="badColor">{{ bad_color }}</p>

                <div class="buttons mt-20">
                    <button id="retryBtn" onclick="location.href='/personalColors/check/'">다시하기</button>
                    <button id="nextBtn">NEXT</button>
                </div>
            {% endif %}
            {% if tone == '응답 수가 부족하여 정확한 진단이 어렵습니다.' %}
                <h1 id="failedResult">{{ tone }}</h1>
                <div class="buttons">
                    <button id="retryBtn" onclick="location.href='/personalColors/check/'">다시하기</button>
                </div>
            {% endif %}
        </div>
    </section>

    <!-- 팝업 -->
    <div id="savePopup" class="popup">
        <div class="popup-content">
            <p>이 결과를 저장할까요?</p>
            <div class="popup-buttons">
                <button id="yesBtn">예</button>
                <button id="noBtn">아니오</button>
            </div>
        </div>
    </div>

    <script src="{% static 'personalColors/js/colorResult.js' %}"></script>
{% endblock %}
