{% extends "index.html" %}
{% load static %}

{% block title %} 퍼스널컬러 - PaletteMe {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'personalColors/css/InfoColor.css' %}">

    <section id="personalColorSection">
        <div class="left">
            <div class="intro-header">
                <img src="{% static 'img/main1.png' %}" alt="퍼스널컬러" class="intro-img">
                <div class="intro-text">
                    <h1>퍼스널컬러 소개</h1>
                    <p>
                    퍼스널컬러란 자신의 피부톤, 눈동자, 머리카락 색 등을 기준으로
                    어울리는 색상을 찾아주는 컬러 분석 방법입니다.
                    </p>
                </div>
            </div>
        </div>

        <div class="right">
            <h2>유저 정보</h2>
            <!-- 저장된 정보가 있으면 렌더링 -->
            {% if is_saved == True %}
                <div id="userColorInfo">
                    <h3>{{ color }}</h3>
                    <h3>시행 날짜:{{ date }}</h3>
                    <h3>{{ mood }}</h3>
                    <h3>{{ good_color }}</h3>
                    <h3>{{ bad_color }}</h3>
                </div>
                <div class="buttons">
                    <button id="proceedBtn">진행</button>
                    <button id="retryBtn">다시하기</button>
                </div>
            {% endif %}
            <!-- 저장된 정보가 없으면 렌더링 -->
            {% if is_saved == False %}
                <div id="userColorInfo">
                    <h3> 저장된 정보가 없습니다.</h3>
                </div>
                <div class="buttons">
                    <button id="colorCheckBtn">진단</button>
                </div>
            {% endif %}
        </div>
    </section>

    <script src="{% static 'personalColors/js/InfoColor.js' %}"></script>
{% endblock %}
