{% extends "index.html" %}
{% load static %}

{% block title %} 자유게시판 - PaletteMe {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'boards/css/board2.css' %}">

    <div class="board-detail-container free">
        <h2>자유게시판</h2>

        <!-- 제목줄: 헤더 -->
        <div class="title-header">
            <span class="col-header">No.</span>
            <span class="col-header">제 목</span>
            <span class="col-header">작성자</span>
            <span class="col-header">작성일</span>
            <span class="col-header">조회수</span>
        </div>

        <!-- 데이터줄: 실제 게시글 -->
        <div class="title-row">
            <span id="detailNo"></span>
            <span id="detailTitle"></span>
            <span id="detailWriter"></span>
            <span id="detailDate"></span>
            <span id="detailView"></span>
        </div>
        <hr class="section-divider">

        <div class="detail-content">
            <!-- 작성된 텍스트 자리 -->
            <div id="detailContentText">내용 자리</div>
            <!-- 첨부된 이미지가 보여지는 자리  -->
            <div id="detailImages" class="detail-images-area"></div>
        </div>
        <hr class="section-divider">

        <!-- 댓글 영역 -->
        <div class="comment-section">
            <h3>댓글</h3>
            <div id="commentList"></div>
            <div class="comment-input">
                <!-- 좋아요 -->
                <div class="like-area">
                    <button class="like-btn" id="likeBtn">❤️ 좋아요</button>
                    <!--임시-->
                    <span class="like-count" id="likeCount">0</span>
                </div>
                <div class="comment-write">
                    <input type="text" id="commentText" placeholder="댓글을 입력하세요">
                    <button onclick="addComment()">등록</button>
                </div>
            </div>
        </div>

        <div class="detail-nav">
            <span id="prevBtn" onclick="goPrev()">이전글</span> |
            <span onclick="goList()">글목록</span> |
            <span id="nextBtn" onclick="goNext()">다음글</span>
        </div>

    </div>

<script src="{% static 'boards/js/board2.js' %}" defer></script>
{% endblock %}
