{% extends "index.html" %}
{% load static %}

{% block title %} Notice - PaletteMe {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'boards/css/notice1.css' %}">

    <div class="board-container notice">
        <h2>공지사항</h2>

        <!-- 목록 헤더 -->
        <div class="board-header">
            <div class="col-no">번 호</div>
            <div class="col-title">제 목</div>
            <div class="col-date">날 짜</div>
        </div>

        <!-- 공지 목록 -->
        <div class="board-list">
            <div class="board-row" onclick="goNoticeDetail(3)">
                <div class="col-no">3</div>
                <div class="col-title">날씨 기반 코디 추천 기능 추가</div>
                <div class="col-date">2026-01-30</div>
            </div>
            <div class="board-row" onclick="goNoticeDetail(2)">
                <div class="col-no">2</div>
                <div class="col-title">퍼스널컬러 진단 기능 업데이트</div>
                <div class="col-date">2026-02-01</div>
            </div>
            <div class="board-row" onclick="goNoticeDetail(1)">
                <div class="col-no">1</div>
                <div class="col-title">서비스 오픈 안내드립니다.</div>
                <div class="col-date">2026-02-02</div>
            </div>

        </div>

        <!-- 페이지 번호 -->
        <div class="pagination">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
        </div>
    </div>

<script src="{% static 'boards/js/notice1.js' %}" defer></script>
{% endblock %}