{% extends "index.html" %}
{% load static %}

{% block title %} Notice - PaletteMe {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'boards/css/notice1.css' %}">

    <div class="board-container notice">
        <h2>공지사항</h2>

        <!-- 목록 헤더 -->
        <div class="board-header">
            <div class="col-no">번 호</div>
            <div class="col-title">제 목</div>
            <div class="col-date">날 짜</div>
        </div>

        <!-- 공지 목록 -->
        <div class="board-list">
            {% if posts %}
                {% for post in posts %}
                <div class="board-row" onclick="goNoticeDetail({{ post.post_id }})">
                    <div class="col-no">{{ post.post_id }}</div>
                    <div class="col-title">{{ post.title }}</div>
                    <div class="col-date">{{ post.created_at|date:"Y-m-d" }}</div>
                </div>
                {% endfor %}
            {% else %}
                <div class="board-row" style="justify-content: center; color: #999;">등록된 공지사항이 없습니다.</div>
            {% endif %}
        </div>

        <!-- 페이지 번호 -->
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">이전</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="current-page">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">다음</a>
            {% endif %}
        </div>
        <div class="write-btn">
            {% if user.is_staff %}
                <button onclick="location.href='/boards/boardWrite?type=NOTICE'">글쓰기</button>
            {% endif %}
        </div>
    </div>

<script src="{% static 'boards/js/notice1.js' %}" defer></script>
{% endblock %}
