{% extends "index.html" %}
{% load static %}

{% block title %} Notice - PaletteMe {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'boards/css/notice2.css' %}">

    <div class="board-detail-container notice">
        <h2>공지사항</h2>
        <!-- 제목줄: 헤더 -->
        <div class="title-header">
            <span class="col-header">No.</span>
            <span class="col-header">제목</span>
            <span class="col-header">작성일</span>
        </div>

        <!-- 데이터줄: 실제 게시글 -->
        <div class="title-row">
            <span id="detailNo"></span>
            <span id="detailTitle"></span>
            <span id="detailDate"></span>
        </div>
        <hr class="section-divider">

        <div class="detail-content" id="detailContent">
        </div>
        <hr class="section-divider">

        <div class="detail-nav">
            <span onclick="goPrev()">이전글</span> |
            <span onclick="goList()">글목록</span> |
            <span onclick="goNext()">다음글</span>
        </div>
    </div>

<script src="{% static 'boards/js/notice2.js' %}"></script>
{% endblock %}
