{% extends "index.html" %}
{% load static %}

{% block title %} Notice - PaletteMe {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'boards/css/notice1.css' %}">

    <div class="board-container notice">
        <h2>공지사항</h2>

  <div class="board-header">
    <div class="col-no">No</div>
    <div class="col-title">제목</div>
    <div class="col-date">작성일</div>
  </div>
<div class="board-list">
  {% for n in page_obj %}
  <div class="board-row" onclick="location.href='{% url 'boards:notice_detail' n.id %}'">
    <div class="col-no">{{ n.id }}</div>
    <div class="col-title">{{ n.title }}</div>
    <div class="col-date">{{ n.created_at|date:"Y-m-d" }}</div>
  </div>
  {% empty %}
  <div class="board-row">
    <div class="col-no">-</div>
    <div class="col-title">공지사항이 없습니다.</div>
    <div class="col-date">-</div>
  </div>
  {% endfor %}
</div>
  <div class="pagination">
    {% if page_obj.has_previous %}
      <span onclick="location.href='?page={{ page_obj.previous_page_number }}'">이전</span>
    {% endif %}
    <span>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
      <span onclick="location.href='?page={{ page_obj.next_page_number }}'">다음</span>
    {% endif %}
  </div>
</div>

<script src="{% static 'boards/js/notice1.js' %}" defer></script>
{% endblock %}