{% extends "index.html" %}
{% load static %}

{% block title %} QnA - PaletteMe {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'QnA/css/QnA1.css' %}">

    <div class="board-container QnA">
        <h2>QnA</h2>
        <div class="board-header">
            <div class="col-no">번호</div>
            <div class="col-title">제목</div>
            <div class="col-writer">작성자</div>
            <div class="col-date">날짜</div>
            <div class="col-view">조회수</div>
        </div>

        <div class="board-list">
            <div class="board-row" onclick="goQnADetail(3)">
                <div class="col-no">3</div>
                <div class="col-title">이런거 질문해도 되나요?</div>
                <div class="col-writer">민수</div>
                <div class="col-date">2026-02-02</div>
                <div class="col-view">33</div>
            </div>
            <div class="board-row" onclick="goQnADetail(2)">
                <div class="col-no">2</div>
                <div class="col-title">질문있어요 <span class="comment-count">[1]</span></div>
                <div class="col-writer">홍길동</div>
                <div class="col-date">2026-02-02</div>
                <div class="col-view">8</div>
            </div>
            <div class="board-row" onclick="goQnADetail(1)">
                <div class="col-no">1</div>
                <div class="col-title">첫 번째 질문입니다 <span class="comment-count">[1]</span></div>
                <div class="col-writer">익명</div>
                <div class="col-date">2026-02-02</div>
                <div class="col-view">12</div>
            </div>
        </div>
        <!-- 글쓰기 버튼 -->
        <div class="board-footer">
            <button class="write-btn" onclick="location.href='QnAWrite.html'">글쓰기</button>
        </div>

        <div class="pagination">
            <span>1</span>
            <span>2</span>
            <span>3</span>
        </div>
    </div>

    <script src="{% static 'QnA/js/QnA1.js' %}" defer></script>
{% endblock %}