# .env 파일 내용 (github에 안올라가게 하기 위한 정보들을 모아놓는 파일)
# 실행 전 .env로 파일명 바꾼 후, 값 제대로 기입할 것
SD_API_USER= # StableDiffusion UserId
SD_API_PASSWORD= # StableDiffusion Password
SD_API_URL= # StableDiffusion URL
GEMINI_API_KEY= # GEMINI API KEY
KAKAO_MAP_API_KEY= # KAKAO MAP API KEY
FCST_API_KEY= # 기상청 단기예보 API KEY
NAVER_CLIENT_ID= # 네이버 API_KEY
NAVER_CLIENT_SECRET= # 네이버 시크릿 키
GOOGLE_SECRET_KEY=
