body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
}

/* ===== HEADER ===== */
.header {
    display: flex;
    justify-content: center; /*가로중앙정렬*/
    align-items: center;
    padding: 30px 30px;
    border-bottom: 1px solid #cdcbcb;
}

.header-left {
    width: 33%;
}

.logo {
    width: 34%;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}
.logo a {
    color: inherit;        /* .logo 색상 따라감 */
    text-decoration: none; /* 밑줄 제거 */
    font-size: inherit;    /* .logo 크기 따라감 */
    font-weight: inherit;  /* .logo 굵기 따라감 */
}

.auth {
    width: 33%;
    text-align: right;
}

.auth a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}
.board-container {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.board-container.free h2 {
    color: #333;
}

.title-row {
    display: flex;
    gap: 20px;  /* 글자 사이 간격 */
    align-items: center;
    font-weight: bold;
}

/* 헤더 행 */
.board-header, .board-row {
    display: flex;
    padding: 12px 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.board-header {
    font-weight: bold;
    background: #ffffff;
}

/* 열 비율 */
.col-no {
    width: 7%;
    text-align: center;
}

.col-title {
    width: 60%;
}
.col-writer {
    width: 10%;
    text-align: center;
}
.col-date {
    width: 13%;
    text-align: center;
}
.col-view {
    width: 10%;
    text-align: center;
}
.board-header .col-title {
    text-align: center;
}

/* 마우스 올리면 */
.board-row:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
/* 구분선 + 글쓰기 버튼 */
.board-footer {
    display: flex;
    justify-content: flex-end; /* 오른쪽에 배치 */
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-divider {
    flex: 1; /* 선이 왼쪽 끝까지 늘어나도록 */
    border: none;
    border-bottom: 1px solid #ccc;
    margin-right: 10px; /* 글쓰기 버튼과 간격 */
}

.write-btn {
    padding: 6px 12px;
    background-color: #535252;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.write-btn:hover {
    background-color: #333333;
}

/* 페이지네이션 */
.pagination {
    text-align: center;
    margin-top: 30px;
}

.pagination span {
    margin: 0 8px;
    cursor: pointer;
}

/* ===== FOOTER ===== */
.footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}