body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
}

/* ===== HEADER ===== */
.header {
    display: flex;
    justify-content: center; /*가로중앙정렬*/
    align-items: center;
    padding: 30px 30px;
    border-bottom: 1px solid #cdcbcb;
}

.header-left {
    width: 33%;
}

.logo {
    width: 34%;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}
.logo a {
    color: inherit;        /* .logo 색상 따라감 */
    text-decoration: none; /* 밑줄 제거 */
    font-size: inherit;    /* .logo 크기 따라감 */
    font-weight: inherit;  /* .logo 굵기 따라감 */
}

.auth {
    width: 33%;
    text-align: right;
}

.auth a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}
.board-container {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}
.board-header,
.board-row {
    display: flex;
    padding: 12px 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
}
/* 헤더는 전부 중앙정렬 */
.board-header .col-no,
.board-header .col-title,
.board-header .col-date {
    text-align: center;
}

.board-header {
    font-weight: bold;
    background: #ffffff;
}

.board-row:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

/* 열 너비 비율 */
.board-container.notice .col-no {
    width: 10%;
}

.board-container.notice .col-title {
    width: 70%;
}

.board-container.notice .col-date {
    width: 20%;
}
/* 목록은 제목만 왼쪽 */
.board-row .col-no,
.board-row .col-date {
    text-align: center;
}

.board-row .col-title {
    text-align: left;
}

/* 페이지네이션 */
.pagination {
    text-align: center;
    margin-top: 30px;
}

.pagination span {
    margin: 0 8px;
    cursor: pointer;
}
/* ===== FOOTER ===== */
.footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}