body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
}

.board-container {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

/* 모든 게시판 제목 공통 스타일 */
.board-container h2,
.board-detail-container h2,
.board-write-container h2 {
    font-size: 26px;
    margin-bottom: 20px;
    border-left: 5px solid #535252;
    padding-left: 15px;
}

.board-header {
    display: flex;
    padding: 12px 10px;
    border-top: 2px solid #535252;
    border-bottom: 1px solid #ddd;
    background-color: #fcfcfc;
    color: #333;
    font-weight: bold;
    align-items: center;
}

.board-row {
    display: flex;
    padding: 12px 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
    transition: background-color 0.2s; /*배경색 전환 천천히*/
}

.board-row:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

/* 열 너비 비율 */
.col-no {
    width: 10%;
}

.col-title {
    width: 70%;
    white-space: nowrap;      /* 줄바꿈 금지 */
    overflow: hidden;         /* 넘치는 부분 숨김 */
    text-overflow: ellipsis;  /* 말줄임표(...) 표시 */
}

.col-date {
    width: 20%;
}

/* 정렬: 헤더는 전부 중앙 */
.board-header > div {
    text-align: center;
}

/* 정렬: 본문은 번호/날짜만 중앙, 제목은 왼쪽 */
.board-row .col-no,
.board-row .col-date {
    text-align: center;
}

.board-row .col-title {
    text-align: left;
    padding-left: 20px;
}

/* 페이지네이션 */
.pagination {
    text-align: center;
    margin-top: 30px;
}

.pagination span {
    margin: 0 8px;
    cursor: pointer;
}

/* 페이지네이션 현재 페이지 강조 */
.pagination span:first-child {
    font-weight: bold;
    text-decoration: underline;
}