body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
}

.board-detail-container {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

/* 제목줄 헤더 */
.board-detail-container .title-header,
.board-detail-container .title-row {
    display: flex;
    align-items: center;
}

.board-detail-container .title-header {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
}

.board-detail-container .title-row {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* 제목줄 헤더와 데이터줄 안의 모든 span들 */
.board-detail-container .title-header span,
.board-detail-container .title-row span {
    display: inline-block; /* 너비 값을 확실히 먹이기 위한 안전장치 */
    vertical-align: middle; /* 텍스트 높낮이 정렬 */
}

/* 각 열 폭 지정 */
/* No */
.board-detail-container span:nth-child(1) {
    width: 10%;
    text-align: center;
}

/* 제목 */
.board-detail-container span:nth-child(2) {
    width: 70%;
    text-align: left;
    padding-left: 10px;
}

 /* 작성일 */
.board-detail-container span:nth-child(3) {
    width: 20%;
    text-align: center;
}

/* 구분선 */
.section-divider {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.detail-content {
    line-height: 1.8;
    min-height: 300px;
    padding: 20px 10px;
    font-size: 16px;
    color: #444;
}

/* 이전글 | 글목록 | 다음글 중앙정렬 */
.detail-nav {
    text-align: center;
    margin-top: 30px;
    color: #888;
}

.detail-nav span {
    cursor: pointer;
    margin: 0 10px;
    color: #333;
    font-size: 15px;
}

.detail-nav span:hover {
    text-decoration: underline;
    color: #535252; /* 버튼과 동일한 강조색 */
}
