body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
}

.board-write-container {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

/* 모든 게시판 제목 공통 스타일 */
.board-container h2,
.board-detail-container h2,
.board-write-container h2 {
    font-size: 26px;
    margin-bottom: 20px;
    border-left: 5px solid #535252;
    padding-left: 15px;
}

.board-write-container .write-form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.board-write-container .write-form input,
.board-write-container .write-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}
.board-write-container .write-form input[readonly] {
    background-color: #f0f0f0;
}

.button-group {
    margin-top: 20px;
    text-align: center; /* 버튼 중앙정렬 */
}

.board-write-container .button-group button {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #535252;
    color: white;
    cursor: pointer;
}

.board-write-container .button-group button:hover {
    background-color: #333333;
}

.board-write-container .button-group button + button {
    margin-left: 10px;
    background-color: #535252;
}

.board-write-container .button-group button + button:hover {
    background-color: #333333;
}
