#map {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    border: 1px solid #ccc;
}
body {
    background-color: #FAF9F6 !important;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    width: 1300px;
    margin: 130px auto;
    background: #FCFBF9;
    border: 1px solid #F1F0ED;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);

    min-width: 1200px;
}

.left {
    width: 55%;
    padding: 30px;
    border-right: 1px solid #cdcbcb;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;   /* 전체는 세로 유지 */
}

.right {
    width: 45%;
    padding: 40px;
    box-sizing: border-box;
    /* position: relative; /* 버튼 배치를 위해 */
}

h2 {
    color: #444;
    font-size: 28px;
    margin-bottom: 15px;
    border-left: 5px solid #444; /* 왼쪽에 선을 넣어 더 강조 */
    padding-left: 12px;
}

/* 검색 영역 */
.search-box {
    display: flex;
    align-items: center;   /* 세로 중앙 정렬 */
    gap: 10px;
    margin: 15px 0;
}

/* 입력창 */
.search-box input {
    flex: 1;               /* 남는 공간 채우기 */
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}

/* 검색 버튼 */
.search-box button {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    font-size: 16px;
    color: white;
    background-color: #535252;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #333333;
}

/* 날씨 정보 */

.right h1 {
    color: #444;
    font-size: 28px;
    margin-bottom: 40px;
    border-left: 5px solid #444; /* 왼쪽에 선을 넣어 더 강조 */
    padding-left: 12px;
}

.right p {
    font-size: 18px;
    /*margin: 12px 0;*/
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    /*padding-bottom: 6px;*/
    font-weight: bold;
    /*line-height: 1.4;*/
    color: #675f5f;
}

/*.right p span {*/
/*    width: 120px;*/
/*    text-align: right;*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*    color: #675f5f;*/
/*    margin-left: auto;  !* 오른쪽으로 밀기 *!*/
/*    margin-right: 20px;*/
/*}*/

.weather-result {
    max-width: 400px;          /* 폭 줄이기 */
    margin-left: 30px ;      /* 가운데 배치 */
}

.weather-result p {
    font-size: 18px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #675f5f;
    /*display: flex;*/
    justify-content: space-between;
}

.weather-result p span {
    width: 120px;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    color: #445f7a;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: flex-start;  /* 텍스트 위 기준 */
    gap: 10px;
}
#weatherText {
    line-height: 1.6;  /* 여러 줄일 때 가독성 */
}
.weather-icon {
    width: 30px;
    height: auto;
}

/* 버튼 */
.buttons {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}

.btn {
    width: 120px;
    height: 50px;
    padding: 10px 20px;
    background-color: #535252;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #333333;
}