#map {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.container {
    display: flex;
    width: 80%;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* 왼쪽 30% */
.left {
    width: 30%;
    padding: 30px;
    border-right: 1px solid #cdcbcb;
    box-sizing: border-box;
}

/* 오른쪽 70% */
.right {
    width: 70%;
    padding: 40px;
    box-sizing: border-box;
    position: relative; /* 버튼 배치를 위해 */
}

/* 검색 영역 */
.left input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
}

.left button {
    width: auto;
    padding: 6px 14px;
    font-size: 14px;
    color: white;
    background-color: #676565;
    border: none;
}
.left button:hover {
    background-color: #333333;
}

/* 날씨 정보 */
.right p {
    font-size: 16px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.weather-line {
    display: flex;
    align-items: flex-start;  /* 텍스트 위 기준 */
    gap: 10px;
}
#weatherText {
    line-height: 1.6;  /* 여러 줄일 때 가독성 */
}
.weather-icon {
    width: 30px;
    height: auto;
}

/* 버튼 */
.buttons {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.btn {
    width: auto;
    padding: 6px 14px;
    font-size: 14px;
    color: white;
    background-color: #676565;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #333333;
}