{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">

</head>
<body>
    <div id="login">
        <h1>Sign In</h1>
        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}

            <input type="text" name="login" id="userID" placeholder="아이디"><br>
            <input type="password" name="password" id="passwd" placeholder="비밀번호"><br>

            <button type="submit" id="loginBtn">LOGIN</button>
        </form>

    </div>
    <div class="social-login-container">
    <p>또는 소셜 계정으로 로그인</p>
    <a href="/accounts/google/login/" class="google-login-btn">
    <img src="{% static 'images/google-logo.png' %}" alt="Google Logo">
    구글로 로그인하기
    </a>
    </div>

    <script src="{% static 'accounts/js/login.js' %}"></script>

    {% if form.errors %}
    <script>
        // 폼에 에러가 있다면 (로그인 실패 시)
        alert("아이디 또는 비밀번호가 일치하지 않습니다.");
    </script>
    {% endif %}

    {% if messages %}
    <script>
        {% for message in messages %}
            {# 메시지 레벨이 ERROR(40)인 경우만 alert 실행 #}
            {% if message.level == 40 %}
                alert("{{ message|escapejs }}");
            {% endif %}
        {% endfor %}
    </script>
    {% endif %}
</body>
</html>