{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 - PaletteMe</title>
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}?v=2">
</head>
<body>
    <div class="login-container">
        <div id="login-box">
            <h1>Sign In</h1>
            <form method="post" action="{% url 'account_login' %}" id="loginForm">
                <div class="login-inputs">
                    {% csrf_token %}
                    <input type="text" id="userID" name="login" placeholder="아이디"><br>
                    <input type="password" id="passwd" name="password"  placeholder="비밀번호"><br>
                </div>
                <button type='submit' id="loginBtn" class="signup-submit-btn">LOGIN</button>
            </form>
            <p class="login-helper">
                아직 계정이 없으신가요?
                <a href="javascript:void(0);" onclick="goToSignup('{% url 'agreement' %}')">회원가입</a>
            </p>

            <hr class="login-divider">
            <div class="social-login-container">
                <p class="social-text">또는 소셜 계정으로 로그인</p>
                <a href="/accounts/google/login/" class="google-login-btn">
                    <img src="{% static 'img/google-logo.png' %}" alt="Google Logo">
                    구글로 로그인하기
                </a>
            </div>
        </div>
    </div>

    <script src="{% static 'accounts/js/login.js' %}"></script>

    {% if form.errors %}
    <script>
        // 폼에 에러가 있다면 (로그인 실패 시)
        alert("아이디 또는 비밀번호가 일치하지 않습니다.");
    </script>
    {% endif %}

    {% if messages %}
    <script>
        {% for message in messages %}
            {# 메시지 레벨이 ERROR(40)인 경우만 alert 실행 #}
            {% if message.level == 40 %}
                alert("{{ message|escapejs }}");
            {% endif %}
        {% endfor %}
    </script>
    {% endif %}
</body>
</html>