{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">

</head>
<body>
    <div id="login">
        <h1>Sign In</h1>
        <input type="text" id="userID" placeholder="아이디"><br>
        <input type="password" id="passwd" placeholder="비밀번호"><br>
        <button id="loginBtn">LOGIN</button>

    </div>

    <script src="{% static 'accounts/js/login.js' %}"></script>
</body>
</html>