{% load static %}
<title>비밀번호 재설정 완료 - PaletteMe</title>
<link rel="stylesheet" href="{% static 'accounts/css/auth_pages.css' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

<div class="auth-container">
    <h2>비밀번호 재설정 완료 - PaletteMe</h2>

    <p class="auth-guide">
        비밀번호가 성공적으로 재설정 되었습니다.<br>
        창을 닫고 재설정된 비밀번호로 다시 로그인 해주세요.
    </p>
    <button type="button" onclick="closeAndRedirect()" class="auth-submit-btn">
        Palette Me 메인으로 이동
    </button>
</div>

<script>
function closeAndRedirect() {
    // 1. 만약 이 창이 부모 창(이전 탭)에 의해 열린 팝업이라면 창을 닫습니다.
    if (window.opener && !window.opener.closed) {
        window.opener.location.href = "/"; // 부모 창을 메인으로 이동
        window.close(); // 현재 창 닫기
    } else {
        // 2. 일반적인 새 탭으로 열린 경우라면, 현재 창을 메인으로 이동시킵니다.
        window.location.href = "/";
    }
}
</script>