{% load static %}

<link rel="stylesheet" href="{% static 'accounts/css/auth_pages.css' %}">

<div class="auth-container">
    <h2>비밀번호 초기화 - PaletteMe</h2>
    
    <p class="auth-guide">
        비밀번호를 잊으셨나요? 아래에 당신의 이메일을 입력하시면,<br>
        비밀번호 초기화 이메일을 전송해 드리겠습니다.
    </p>

    <form method="post" class="auth-form">
        {% csrf_token %}
        <div class="input-group">
            <label for="id_email">이메일:</label>
            <input type="email" name="email" id="id_email" placeholder="이메일 주소" required>
        </div>
        
        <button type="submit" class="auth-submit-btn">비밀번호 초기화</button>
    </form>

    <p class="auth-footer-text">
        비밀번호 초기화에 문제가 있으시면 저희에게 연락주세요.
    </p>
</div>
{% if messages %}
    <script>
        {% for message in messages %}
            alert("{{ message|escapejs }}");
        {% endfor %}
    </script>
{% endif %}