{% load static %}
<title>비밀번호 찾기 - PaletteMe</title>
<link rel="stylesheet" href="{% static 'accounts/css/auth_pages.css' %}">

<div class="auth-container">
    <h2>비밀번호 찾기 - PaletteMe</h2>
    
    <p class="auth-guide"><br>
        비밀번호를 잊으셨나요? 아래에 당신의 이메일을 입력하시면,<br>
        비밀번호 재설정 링크를 전송해 드리겠습니다.
    </p>

    <form method="post" class="auth-form">
        {% csrf_token %}
        <div class="input-group">
            <label for="id_email">이메일:</label>
            <input type="email" name="email" id="id_email" placeholder="이메일 주소" required>
        </div>
        
        <button type="submit" class="auth-submit-btn">이메일 전송</button>
    </form>
</div>
{% if messages %}
    <script>
        {% for message in messages %}
            alert("{{ message|escapejs }}");
        {% endfor %}
    </script>
{% endif %}