{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} PaletteMe {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>

<!-- ===== HEADER ===== -->
<header class="header">
    <div class="header-left">
        <!-- 필요 시 왼쪽 버튼/메뉴 -->
    </div>
    <div class="logo">
        <a href="{% url 'core:index' %}"><img src="{% static 'img/logo.png' %}" alt="로고" class="header-logo-img"></a>
    </div>

    <div class="auth">
        {% if user.is_authenticated %}
            <!-- 이미지 클릭하면 새창으로 이미지가 더 크게 보이게 함 -->
            <span class="user-nickname">{{ user.nickname }}님</span>
            <a href="javascript:void(0);"
                onclick="openImagePopup('{{ user.profile_image.url|default:'/static/img/main1.png' }}')">
            <img src="{{ user.profile_image.url|default:'/static/img/main1.png' }}" alt="프로필" class="header-profile-img">
            </a>
            <a href="#">회원정보</a>
            <a href="{% url 'account_logout' %}">로그아웃</a>
        {% else %}
            <a href="javascript:void(0);" onclick="openLoginPopup('{% url 'account_login' %}')">로그인</a>
            <a href="{% url 'agreement' %}">회원가입</a>
        {% endif %}
    </div>
</header>

<!-- ===== MAIN ===== -->

    {% block content %}
    {% endblock %}

<!-- ===== BOARD ===== -->
<section class="board">
    <div class="board-line"></div>

    <div class="board-nav">
        <a href="#">Notice</a>
        <span class="divider">|</span>
        {% if user.is_authenticated %}
            <a href="#">자유게시판</a>
        {% else %}
            <a href="javascript:void(0);" onclick="loginRequired()">자유게시판</a>
        {% endif %}

        <span class="divider">|</span>

        {% if user.is_authenticated %}
            <a href="#">QnA</a>
        {% else %}
            <a href="javascript:void(0);" onclick="loginRequired()">QnA</a>
        {% endif %}
    </div>

    <div class="board-line"></div>
</section>

<!-- ===== FOOTER ===== -->
<footer class="footer">
    {% block footer %}
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">Contact</a>
    {% endblock %}
</footer>

<script src="{% static 'js/index.js' %}"></script>
</body>
</html>