<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

<!-- ===== HEADER ===== -->
<header class="header">
    <div class="header-left">
        <!-- 필요 시 왼쪽 버튼/메뉴 -->
    </div>
    <div class="logo">
        <a href="index.html">Title</a>
    </div>

<!--클릭하면 로그인 창과 회원가입 창이 뜰 수 있음-->
    <div class="auth">
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">회원가입</a>
    </div>

</header>

<!-- ===== MAIN ===== -->
<main class="main">
    <div class="main-left">
        <!-- 나중에 이미지로 교체 -->
        <img src="/static/img/main1.png" alt="메인 왼쪽화면 이미지">
    </div>

    <div class="main-right">
        <h1>날씨와 퍼스널컬러로<br>오늘의 옷을 추천해드려요</h1>
        <button class="start-btn fade-delay">시작하기</button>
    </div>
</main>

<!-- ===== BOARD ===== -->
<section class="board">
    <div class="board-line"></div>

<!--클릭하면 해당 사이트로 들어가짐-->
    <div class="board-nav">
    <a class="board-btn" href="{% url 'boards:notice_main' %}">Notice</a>
    <a class="board-btn" href="{% url 'boards:board_main' %}">자유게시판</a>
    </div>


    <div class="board-line"></div>
</section>

<!-- ===== FOOTER ===== -->
<footer class="footer">
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>
    <a href="#">Contact</a>
</footer>

<script src="/static/js/index.js"></script>
</body>
</html>