<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

<!-- ===== HEADER ===== -->
<header class="header">
    <div class="header-left">
        <!-- 필요 시 왼쪽 버튼/메뉴 -->
    </div>
    <div class="logo">
        <a href="{% url 'core:index' %}">Title</a>
    </div>

    <div class="auth">
        {% if user.is_authenticated %}
        <!-- 로그인 상태일 때 -->
            <span class="user-nickname">{{ user.nickname }}님</span>
            <a href="{% url 'accounts:profile' %}">프로필</a>
            <a href="{% url 'account_logout' %}">로그아웃</a>
        {% else %}
            <!-- 로그아웃 상태일 때 -->
            <a href="{% url 'account_login' %}">로그인</a>
            <a href="{% url 'accounts:agreement' %}">회원가입</a>
        {% endif %}
    </div>
</header>

<!-- ===== MAIN ===== -->
<main class="main">
    <div class="main-left">
        <!-- 나중에 이미지로 교체 -->
        <img src="/static/img/main1.png" alt="메인 왼쪽화면 이미지">
    </div>
    <form method="get" action="personalColors/">

        <div class="main-right">
            <h1>날씨와 퍼스널컬러로<br>오늘의 옷을 추천해드려요</h1>
            <button class="start-btn fade-delay">시작하기</button>
        </div>
    </form>
</main>

<!-- ===== BOARD ===== -->
<section class="board">
    <div class="board-line"></div>

    <div class="board-nav">
        <a href="#">Notice</a>
        <span class="divider">|</span>
        <a href="#">자유게시판</a>
    </div>

    <div class="board-line"></div>
</section>

<!-- ===== FOOTER ===== -->
<footer class="footer">
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>
    <a href="#">Contact</a>
</footer>

<script>
    // 장고가 보낸 메시지를 브라우저 알림창으로 띄움. ex) 로그인, 로그아웃, 회원탈퇴
    {% if messages %}
        {% for message in messages %}
            alert("{{ message|escapejs }}");
        {% endfor %}
    {% endif %}
</script>

<script src="/static/js/index.js"></script>
</body>
</html>